<div class="app">
	<ul class="nav justify-content-center nav-pills">
		<li class="nav-item">
			<a [ngClass]="{'active': currentView == 'game'}" (click)="setView('game')" class="nav-link" href="#">Game</a>
		</li>
		<li class="nav-item">
			<a [ngClass]="{'active': currentView == 'rating'}" (click)="setView('rating')" class="nav-link" href="#">Rating</a>
		</li>
	</ul>

	<div class="app__content">
		<div *ngIf="currentView === 'game'" class="game-view">
			<join *ngIf="!user"></join>
			<users *ngIf="user" [user]="user" [gamers]="gamers"></users>
			<end *ngIf="user" [status]="status" [winner]="winner"></end>
			<field *ngIf="user && status === 'InProgress'" [sudoku]="sudoku"></field>
		</div>
		<div *ngIf="currentView === 'rating'" class="top-view">
			<top [top]="top"></top>
		</div>
	</div>
</div>