<div *ngIf="isGameActive" class="game">
	<div class="row game__row"
	     [ngClass]="
			{
				'game__row_top': i == 0 || i % (sudoku.length / 3) == 0,
				'game__row_bottom': i == sudoku.length - 1
			}"
	     *ngFor="let row of sudoku; let i = index">
		<div class="col game__column"
		     [ngClass]="
				{
					'game__column_left': j == 0 || j % (row.length / 3) == 0,
					'game__column_right': j == row.length - 1,
					'game__column_selected_changeable': i == selected[0] && j == selected[1] && column == 0,
					'game__column_selected_unchangeable': i == selected[0] && j == selected[1] && column != 0
				}"
		     *ngFor="let column of row; let j = index"
		     (click)="onFieldClick(i, j)">
			{{ column != 0 ? column : ""}}
		</div>
	</div>
</div>
<div class="join-game-form">
	<form>
		<div class="form-group">
			<input 
				required
				minlength="3"
				type="text" 
				class="form-control" 
				placeholder="Enter username"
				[(ngModel)]="username" name="username">
		</div>
		<button type="submit" class="btn btn-primary">{{ isNewGame ? 'New game' : 'Join game' }}</button>
	</form>
</div>