.game {
    margin: auto;
    width: 500px;
}



.game__join-form {
    margin: auto;
    width: 500px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .game__join-form .ng-invalid.ng-touched {
        border-color: crimson;
    }
